<h1>Bloggers</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th colspan = "1">View blogs</th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user), method: :get %></td>
        <td><%= link_to "Edit profile", edit_user_path(user), method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>
